In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel('Dataset.xlsx')

In [3]:
df.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10949,7.0,29606876,351.0,23.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,60.6455,7.9619,8.1,21.637448,17.082,16.614540,0.0
1,1,2021-01-11,19901,3.0,29606876,147.0,10.4,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,6.5,20.896467,16.188,15.997056,0.0
2,2,2021-01-11,80179,6.0,29606876,280.0,17.8,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,0.0,15.779859,11.868,11.733216,0.0
3,3,2021-01-11,66992,2.0,29606876,75.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,60.6455,7.9619,9.5,25.496000,19.830,19.830000,0.0
4,4,2021-01-08,11769,72.0,29378797,72.0,6.2,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.7,20.859200,15.966,15.966000,0.0

In [ ]:
# 1.finding the maximum sold product in each groupement

In [ ]:
# finding all the unique groups in the dataset

In [4]:
print(np.unique(df[['Groupement']].values))

['C10' 'DISTRIBOISSONS' 'FRANCE BOISSONS' 'INDEPENDANTS'
 'NATIONAL CUSTOMER']

In [ ]:
# dividing all unique groupement in different dataframes

In [5]:
C10=df.loc[df['Groupement'] == "C10"]

In [6]:
C10.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
11,11,2021-01-11,3453,71.0,29379866,75.0,5.20,8,1,1,...,NaN,NaN,NaN,57.5382,11.4026,6.3,23.821305,19.602,18.434421,0.0
12,12,2021-01-11,63483,58.0,29379866,57.0,4.36,8,1,1,...,NaN,NaN,NaN,57.5382,11.4026,6.5,19.668118,15.864,14.973432,0.0
13,13,2021-01-11,70604,70.0,29379866,71.0,4.20,8,1,1,...,"6,000 L",-,SUPER PREMIUM,57.5382,11.4026,7.4,26.151200,20.376,20.376000,0.0
14,14,2021-01-11,10950,211.0,29379866,219.0,12.60,8,1,1,...,"6,000 L",Blanche,PREMIUM,57.5382,11.4026,6.3,19.789683,15.972,15.074736,0.0
15,15,2021-01-11,33338,72.0,29379866,77.0,5.20,8,1,1,...,"6,000 L",Rosée,PREMIUM,57.5382,11.4026,4.5,22.599080,18.990,17.415900,0.0

In [ ]:
# finding which product id has been sold in maximum quantity

In [7]:
MAX_C10=C10.groupby('Material')['Order qty'].sum().reset_index()

In [8]:
print(MAX_C10)

     Material  Order qty
0        3340   21369.56
1        3341    4090.00
2        3375  152249.00
3        3413  135462.00
4        3414    1029.00
..        ...        ...
162     81412     241.00
163     81413    1650.00
164     81414     242.00
165     82318      46.00
166   7519876      11.00

[167 rows x 2 columns]

In [ ]:
# finding the product id of the maximum sold product

In [9]:
column = MAX_C10["Order qty"]
max_value = column.max()
MAX_C10.loc[MAX_C10['Order qty'] == max_value]

    Material  Order qty
18     10949  396244.67

In [ ]:
# creating a new dataframe where we will have all those wholesalers who have not bought the maximum sold product

In [10]:
C10_with_no_max=C10.loc[C10['Material'] != 10949]

In [ ]:
# converting that dataframe into an excel file

In [11]:
writer = pd.ExcelWriter('C10_with_no_max.xlsx')
C10_with_no_max.to_excel(writer)
writer.save()

In [ ]:
# similarly this will be done for all the remaining four groupements

In [ ]:
# for groupement- Distriboissons

In [12]:
DISTRIBOISSONS=df.loc[df['Groupement'] == "DISTRIBOISSONS"]

In [13]:
DISTRIBOISSONS.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
67,67,2021-01-12,3533,70.0,29635324,9.0,2.0,6,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.6,25.427888,20.436,19.77324,0.0
68,68,2021-01-12,3533,71.0,29635324,72.0,4.2,7,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.6,25.427888,20.436,19.77324,0.0
69,69,2021-01-12,3453,71.0,29635324,74.0,6.2,6,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.3,24.462116,19.602,18.96843,0.0
70,70,2021-01-12,11769,210.0,29635324,210.0,12.6,6,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.7,20.251628,15.966,15.45969,0.0
71,71,2021-01-12,66992,282.0,29635324,286.0,17.8,6,1,1,...,"6,000 L",-,SUPER PREMIUM,59.827,9.2107,9.5,25.452008,19.830,19.79334,0.0

In [14]:
MAX_DISTRIBOISSONS=DISTRIBOISSONS.groupby('Material')['Order qty'].sum().reset_index()

In [15]:
print(MAX_DISTRIBOISSONS)

     Material  Order qty
0        3340    10221.0
1        3341     1663.0
2        3375    58236.0
3        3413    48437.0
4        3414      464.0
..        ...        ...
140     80179     1032.0
141     80420      319.0
142     81411       64.0
143     81413       84.0
144     82318       24.0

[145 rows x 2 columns]

In [16]:
column = MAX_DISTRIBOISSONS["Order qty"]
max_value = column.max()
MAX_DISTRIBOISSONS.loc[MAX_DISTRIBOISSONS['Order qty'] == max_value]

    Material  Order qty
16     10949  131706.91

In [18]:
DISTRIBOISSONS_with_no_max=DISTRIBOISSONS.loc[DISTRIBOISSONS['Material'] != 10949]

In [19]:
writer = pd.ExcelWriter('Distriboissons_with_no_max.xlsx')
DISTRIBOISSONS_with_no_max.to_excel(writer)
writer.save()

In [ ]:
# for groupement- France Boissons

In [21]:
FRANCE_BOISSONS=df.loc[df['Groupement'] == "FRANCE BOISSONS"]

In [22]:
FRANCE_BOISSONS.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10949,7.0,29606876,351.0,23.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,60.6455,7.9619,8.1,21.637448,17.082,16.614540,0.0
1,1,2021-01-11,19901,3.0,29606876,147.0,10.4,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,6.5,20.896467,16.188,15.997056,0.0
2,2,2021-01-11,80179,6.0,29606876,280.0,17.8,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,0.0,15.779859,11.868,11.733216,0.0
3,3,2021-01-11,66992,2.0,29606876,75.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,60.6455,7.9619,9.5,25.496000,19.830,19.830000,0.0
106,106,2021-01-12,10949,1.0,29379634,0.0,2.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,58.1211,-1.4597,8.1,21.637448,17.082,16.614540,0.0

In [23]:
MAX_FRANCE_BOISSONS=FRANCE_BOISSONS.groupby('Material')['Order qty'].sum().reset_index()

In [24]:
print(MAX_FRANCE_BOISSONS)

    Material  Order qty
0       3340     2815.0
1       3341      886.0
2       3374        3.0
3       3375     8222.0
4       3413     9206.0
..       ...        ...
85     77592     1169.0
86     77724       44.0
87     78358       37.0
88     79926      400.0
89     80179      110.0

[90 rows x 2 columns]

In [25]:
column = MAX_FRANCE_BOISSONS["Order qty"]
max_value = column.max()
MAX_FRANCE_BOISSONS.loc[MAX_FRANCE_BOISSONS['Order qty'] == max_value]

   Material  Order qty
4      3413     9206.0

In [26]:
FRANCE_BOISSONS_with_no_max=FRANCE_BOISSONS.loc[FRANCE_BOISSONS['Material'] != 3413]

In [27]:
writer = pd.ExcelWriter('France_Boissons_with_no_max.xlsx')
FRANCE_BOISSONS_with_no_max.to_excel(writer)
writer.save()

In [ ]:
# for groupement- Independants

In [28]:
INDEPENDANTS=df.loc[df['Groupement'] == "INDEPENDANTS"]

In [29]:
INDEPENDANTS.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
4,4,2021-01-08,11769,72.0,29378797,72.0,6.2,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.7,20.8592,15.966,15.966,0.0
5,5,2021-01-08,16553,300.0,29378797,300.0,29.0,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,5.3,9.9080,6.840,6.840,0.0
6,6,2021-01-08,16522,102.0,29378797,100.0,10.0,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.1,11.2472,7.956,7.956,0.0
7,7,2021-01-08,66992,70.0,29378797,80.0,6.2,6,1,1,...,"6,000 L",-,SUPER PREMIUM,60.6978,7.2423,9.5,25.4960,19.830,19.830,0.0
8,8,2021-01-08,10949,142.0,29378797,141.0,8.4,6,1,1,...,"6,000 L",Blonde,PREMIUM,60.6978,7.2423,8.1,22.1984,17.082,17.082,0.0

In [30]:
MAX_INDEPENDANTS=INDEPENDANTS.groupby('Material')['Order qty'].sum().reset_index()

In [31]:
print(MAX_INDEPENDANTS)

     Material  Order qty
0        3340     2851.0
1        3341      223.0
2        3375     7245.0
3        3413    13055.0
4        3414       12.0
..        ...        ...
107     79926      446.0
108     80179     1367.0
109     80420       47.0
110     81411      153.0
111     81413      156.0

[112 rows x 2 columns]

In [32]:
column = MAX_INDEPENDANTS["Order qty"]
max_value = column.max()
MAX_INDEPENDANTS.loc[MAX_INDEPENDANTS['Order qty'] == max_value]

    Material  Order qty
11     10949   30449.94

In [33]:
INDEPENDANTS_with_no_max=INDEPENDANTS.loc[INDEPENDANTS['Material'] != 10949]

In [34]:
writer = pd.ExcelWriter('Independants_with_no_max.xlsx')
INDEPENDANTS_with_no_max.to_excel(writer)
writer.save()

In [ ]:
# for groupement- National Customer

In [35]:
NATIONAL_CUSTOMER=df.loc[df['Groupement'] == "NATIONAL CUSTOMER"]

In [36]:
NATIONAL_CUSTOMER.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
69211,69211,2021-01-11,53569,71.0,29974426,70.0,6.2,7,1,1,...,"6,000 L",IPA,PREMIUM,59.2234,8.9889,9.0,26.525024,22.356,20.687520,0.0
69212,69212,2021-01-11,10949,1051.0,29974426,1060.0,64.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,59.2234,8.9889,8.1,21.179337,17.082,16.232781,0.0
69213,69213,2021-01-11,66992,280.0,29974426,285.0,17.8,7,1,1,...,"6,000 L",-,SUPER PREMIUM,59.2234,8.9889,9.5,25.496000,19.830,19.830000,0.0
69214,69214,2021-01-11,17031,70.0,29974426,78.0,5.2,7,1,1,...,"6,000 L",Rituel,PREMIUM,59.2234,8.9889,10.5,26.525024,22.356,20.687520,0.0
69215,69215,2021-01-11,61632,142.0,29974426,142.0,10.4,7,1,1,...,"6,000 L",-,SUPER PREMIUM,59.2234,8.9889,9.9,21.593600,16.578,16.578000,0.0

In [37]:
MAX_NATIONAL_CUSTOMER=NATIONAL_CUSTOMER.groupby('Material')['Order qty'].sum().reset_index()

In [38]:
print(MAX_NATIONAL_CUSTOMER)

    Material  Order qty
0       3340      411.0
1       3341       94.0
2       3375      248.0
3       3413       18.0
4       3453     6496.0
..       ...        ...
92     79926      440.0
93     80179       44.0
94     81411      985.0
95     81413     1061.0
96     82318      983.0

[97 rows x 2 columns]

In [39]:
column = MAX_NATIONAL_CUSTOMER["Order qty"]
max_value = column.max()
MAX_NATIONAL_CUSTOMER.loc[MAX_NATIONAL_CUSTOMER['Order qty'] == max_value]

    Material  Order qty
10     10949   49434.99

In [40]:
NATIONAL_CUSTOMER_with_no_max=NATIONAL_CUSTOMER.loc[NATIONAL_CUSTOMER['Material'] != 10949]

In [41]:
writer = pd.ExcelWriter('National_Customer_with_no_max.xlsx')
NATIONAL_CUSTOMER_with_no_max.to_excel(writer)
writer.save()

In [45]:
C10_with_no_max.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
11,11,2021-01-11,3453,71.0,29379866,75.0,5.20,8,1,1,...,NaN,NaN,NaN,57.5382,11.4026,6.3,23.821305,19.602,18.434421,0.0
12,12,2021-01-11,63483,58.0,29379866,57.0,4.36,8,1,1,...,NaN,NaN,NaN,57.5382,11.4026,6.5,19.668118,15.864,14.973432,0.0
13,13,2021-01-11,70604,70.0,29379866,71.0,4.20,8,1,1,...,"6,000 L",-,SUPER PREMIUM,57.5382,11.4026,7.4,26.151200,20.376,20.376000,0.0
14,14,2021-01-11,10950,211.0,29379866,219.0,12.60,8,1,1,...,"6,000 L",Blanche,PREMIUM,57.5382,11.4026,6.3,19.789683,15.972,15.074736,0.0
15,15,2021-01-11,33338,72.0,29379866,77.0,5.20,8,1,1,...,"6,000 L",Rosée,PREMIUM,57.5382,11.4026,4.5,22.599080,18.990,17.415900,0.0

In [46]:
DISTRIBOISSONS_with_no_max.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
67,67,2021-01-12,3533,70.0,29635324,9.0,2.0,6,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.6,25.427888,20.436,19.77324,0.0
68,68,2021-01-12,3533,71.0,29635324,72.0,4.2,7,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.6,25.427888,20.436,19.77324,0.0
69,69,2021-01-12,3453,71.0,29635324,74.0,6.2,6,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.3,24.462116,19.602,18.96843,0.0
70,70,2021-01-12,11769,210.0,29635324,210.0,12.6,6,1,1,...,NaN,NaN,NaN,59.827,9.2107,6.7,20.251628,15.966,15.45969,0.0
71,71,2021-01-12,66992,282.0,29635324,286.0,17.8,6,1,1,...,"6,000 L",-,SUPER PREMIUM,59.827,9.2107,9.5,25.452008,19.830,19.79334,0.0

In [48]:
FRANCE_BOISSONS_with_no_max.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10949,7.0,29606876,351.0,23.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,60.6455,7.9619,8.1,21.637448,17.082,16.614540,0.0
1,1,2021-01-11,19901,3.0,29606876,147.0,10.4,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,6.5,20.896467,16.188,15.997056,0.0
2,2,2021-01-11,80179,6.0,29606876,280.0,17.8,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,0.0,15.779859,11.868,11.733216,0.0
3,3,2021-01-11,66992,2.0,29606876,75.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,60.6455,7.9619,9.5,25.496000,19.830,19.830000,0.0
106,106,2021-01-12,10949,1.0,29379634,0.0,2.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,58.1211,-1.4597,8.1,21.637448,17.082,16.614540,0.0

In [49]:
INDEPENDANTS_with_no_max.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
4,4,2021-01-08,11769,72.0,29378797,72.0,6.2,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.7,20.8592,15.966,15.966,0.0
5,5,2021-01-08,16553,300.0,29378797,300.0,29.0,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,5.3,9.9080,6.840,6.840,0.0
6,6,2021-01-08,16522,102.0,29378797,100.0,10.0,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.1,11.2472,7.956,7.956,0.0
7,7,2021-01-08,66992,70.0,29378797,80.0,6.2,6,1,1,...,"6,000 L",-,SUPER PREMIUM,60.6978,7.2423,9.5,25.4960,19.830,19.830,0.0
9,9,2021-01-08,29780,70.0,29378797,79.0,5.2,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.5,16.0856,11.988,11.988,0.0

In [50]:
NATIONAL_CUSTOMER_with_no_max.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
69211,69211,2021-01-11,53569,71.0,29974426,70.0,6.2,7,1,1,...,"6,000 L",IPA,PREMIUM,59.2234,8.9889,9.0,26.525024,22.356,20.68752,0.0
69213,69213,2021-01-11,66992,280.0,29974426,285.0,17.8,7,1,1,...,"6,000 L",-,SUPER PREMIUM,59.2234,8.9889,9.5,25.496000,19.830,19.83000,0.0
69214,69214,2021-01-11,17031,70.0,29974426,78.0,5.2,7,1,1,...,"6,000 L",Rituel,PREMIUM,59.2234,8.9889,10.5,26.525024,22.356,20.68752,0.0
69215,69215,2021-01-11,61632,142.0,29974426,142.0,10.4,7,1,1,...,"6,000 L",-,SUPER PREMIUM,59.2234,8.9889,9.9,21.593600,16.578,16.57800,0.0
69216,69216,2021-01-11,70604,71.0,29974426,79.0,5.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,59.2234,8.9889,7.4,26.151200,20.376,20.37600,0.0

In [ ]:
# 2.finding which product id has maximum frequency of purchase

In [ ]:
# creating a dataframe dff which depicts which product id has maximum frequency of purchase; this is done by summing the delivery flag

In [51]:
dff=df.groupby('Material')['delivery_flag'].sum().reset_index()

In [52]:
print(dff)

     Material  delivery_flag
0        3340           1052
1        3341            426
2        3374              1
3        3375           2684
4        3413           2276
..        ...            ...
174     81412              1
175     81413             38
176     81414              1
177     82318             14
178   7519876              4

[179 rows x 2 columns]

In [ ]:
# finding which product id has maximum frequency

In [53]:
column = dff["delivery_flag"]
max_value = column.max()
dff.loc[dff['delivery_flag'] == max_value]

    Material  delivery_flag
24     11577           3237

In [ ]:
# finding all wholesalers who have not bought maximum frequency product

In [54]:
frequency_based_output=df.loc[df['Material'] != 11577]

In [57]:
frequency_based_output.head()

,Unnamed: 0,Doc. Date,Material,Order qty,Ship-to nu,PCS delivered,HL delivered,delivery_days,delivery_flag,lead_time_creation_vs_rdd_flag,...,Container Size,Variétés,Segment LE,Latitude,Longitude,Degre Alc,TTC,Brut + TE,Net + TE - Hors majoration de rompu de palette,DA
0,0,2021-01-11,10949,7.0,29606876,351.0,23.0,7,1,1,...,"6,000 L",Blonde,PREMIUM,60.6455,7.9619,8.1,21.637448,17.082,16.614540,0.0
1,1,2021-01-11,19901,3.0,29606876,147.0,10.4,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,6.5,20.896467,16.188,15.997056,0.0
2,2,2021-01-11,80179,6.0,29606876,280.0,17.8,7,1,1,...,NaN,NaN,NaN,60.6455,7.9619,0.0,15.779859,11.868,11.733216,0.0
3,3,2021-01-11,66992,2.0,29606876,75.0,4.2,7,1,1,...,"6,000 L",-,SUPER PREMIUM,60.6455,7.9619,9.5,25.496000,19.830,19.830000,0.0
4,4,2021-01-08,11769,72.0,29378797,72.0,6.2,6,1,1,...,NaN,NaN,NaN,60.6978,7.2423,6.7,20.859200,15.966,15.966000,0.0

In [ ]:
# converting this data into excel sheet

In [58]:
writer = pd.ExcelWriter('frequency_based.xlsx')
frequency_based_output.to_excel(writer)
writer.save()